{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="container d-flex align-items-center flex-column">
    <h1 class="masthead-heading text-uppercase mb-0 lsa-title lsa-app-title">ARCHLIFE INDUSTRIES</h1>
    <h2 class="masthead-heading text-uppercase mb-0 lsa-title">Software Solutions to Enahnce Lives</h2>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-laptop-code" style='color: #24ccff;'></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <br>
</div>

{% endblock %}